---
---

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body, html {
    background-color: #606060;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    opacity: 0.75;
    padding-left: 4rem;
    position: absolute;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

h2 {
    padding-left: 2rem;
}

table {
    padding: 1rem;
}

#page {
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 50%;
    top: 50%;
}

#bottom {
    position: absolute;
    bottom: 0;
}

#content {
    background-color: white;
    border-radius: 8px;
    color: black;
    opacity: 0.75;
    overflow: auto;
    padding: 0.5rem;
    position: absolute;
    bottom: 100px;
}

#content p {
    margin: 0.5rem;
}

#content td {
    padding-right: 3rem;
}

#menu {
    position: absolute;
    bottom: 1rem;
}

#menu a {
    color: rgba(255, 255, 255, 0.25);
}

#menu a:hover {
    color: white;
}

/* screen size dependent */


/* default: @media (min-width:1024px) and (min-height:768px) */
h1 {
    font-size: 32px;
}

#page {
    height: 768px;
    margin-top: -384px;
    width: 1024px;
    margin-left: -512px;
    background-image: url({{ site.baseurl }}/img/urossow-l.jpg);
}

#bottom {
    left: 50px;
    height: 200px;
    width: 92400px;
}

#content {
    font-size: 18px;
    line-height: 24px;
    max-height: 668px;
}

@media (min-width:1200px) and (min-height:900px) {
	h1 {
	    font-size: 48px;
	}

	#page {
	    height: 900px;
	    margin-top: -450px;
	    width: 1200px;
	    margin-left: -600px;
	    background-image: url({{ site.baseurl }}/img/urossow-xl.jpg);
	}

	#bottom {
	    left: 100px;
	    height: 400px;
	    width: 1000px;
	}

	#content {
	    font-size: 24px;
            line-height: 32px;
	    max-height: 700px;
	}
}

