<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">
</head>
<body>

<div id="page">
    <h1>{{ site.title }}</h1>

    <div id="bottom">
        <div id="content">
            {{ content }}
        </div>
        <div id="menu" class="fa-3x">
            <a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
            <a href="{{ site.baseurl }}/work/"><i class="fa fa-graduation-cap" title="work"></i></a>
            <a href="{{ site.baseurl }}/CV.pdf"><i class="fa fa-user" title="CV"></i></a>
            <a href="{{ site.baseurl }}/publications.pdf"><i class="fa fa-book" title="publications"></i></a>
            <a href="{{ site.baseurl }}/imprint/"><i class="fa fa-envelope" title="imprint & contact"></i></a>
        </div>
    </div>
</div>

</body>
</html>
<!-- generated {{ site.time }} -->

