<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
        #page {
            background-image: url({{ site.baseurl }}/img/urossow-xl.jpg);
        }
    </style>
</head>
<body>

<div id="page">
    <h1 class="xl">Dr. Uwe Rossow</h1>

    <div id="bottom">
        <div id="content">
            {{ content }}
        </div>
        <div id="menu" class="fa-3x">
            <a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
            <a href="{{ site.baseurl }}/work/"><i class="fa fa-graduation-cap"></i></a>
            <a href="{{ site.baseurl }}/CV.pdf"><i class="fa fa-user"></i></a>
            <a href="{{ site.baseurl }}/publications.pdf"><i class="fa fa-book"></i></a>
            <a href="{{ site.baseurl }}/imprint/"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</div>

</body>
</html>
